@import url(common.css);

.box{
  border:1px solid black;
  width: 500px;
  min-height: 85vh;
  text-align: center;
  margin:2% 0 1% 0;
  border:1px solid #f5f4f2;
}

.item-img{
  width: 400px;
 display: block;
 margin:auto;
}

.main{
  display: flex;
  justify-content: center;
}

.win{
  background-color:  #a5d4ea;
  border:1px solid #a5d4ea;
}

.lose {
  background-color:  #f4674d;
  border:1px solid #f4674d;
}

.tie{
  border:1px solid #f5f4f2;

}

button{
  margin:0 10px;
  width:20%;
  padding:10px;
  background-color: white;
  border:1px solid #53b7e2;
}

button:hover{
  background-color: #53b7e2;
}